body {
     background: #E2D1F9;
}

.ContainList {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background: #FCF6F5FF;
    height: fit-content;
    width: 18rem;
    margin: 9px;
    border-radius: 10%;
}
